---
import '../styles/global.css'

import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'

import Intro from '../components/Intro.astro'
import Section from '../components/Section.astro'
import Work from '../components/Work.astro'
import Other from '../components/Other.astro'
import Play from '../components/Play.astro'
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta
      name="description"
      content="DevOps engineer and cloud architect with experience designing and building scalable cloud-native applications and systems."
    />
    <title>Brian Kintz</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <link rel="preconnect" href="https://p.typekit.net" />
    <link rel="preconnect" href="https://use.typekit.net" crossorigin />
    <link rel="preconnect" href="https://ka-p.fontawesome.com" crossorigin />

    <link rel="stylesheet" href="https://use.typekit.net/ulq6snh.css" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <script
      defer
      src="https://kit.fontawesome.com/34d36e55e2.js"
      crossorigin="anonymous"></script>
  </head>
  <body>
    <Header />
    <main>
      <Intro />
      <Section variant="aurora-orange">
        <Work />
      </Section>
      <Section>
        <Other />
      </Section>
      <Section variant="aurora-blue">
        <Play />
      </Section>
    </main>
    <Footer />
    <script is:inline src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script is:inline>
      AOS.init()
    </script>
  </body>
</html>
