---
import Card from './Card.astro'

interface Frontmatter {
  icon: string
  position: string
  orientation: 'horizontal' | 'vertical'
}

const cards = await Astro.glob<Frontmatter>('../content/play/*.md')
---

<div class="board">
  {
    cards.map((c) => (
      <Card
        color="teal"
        icon={c.frontmatter.icon}
        orientation={c.frontmatter.orientation}
        position={c.frontmatter.position}
      >
        <c.Content />
      </Card>
    ))
  }
</div>

<style>
  .board {
    position: relative;
    top: -12rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      '... title title ...'
      'cl1  cl1   cr1  cr1'
      'cl1  cl1   cr1  cr1'
      'cl2  cl2   cr2  cr2'
      'cl2  cl2   cr2  cr2'
      'cl3  cl3   cr3  cr3'
      'cl3  cl3   cr3  cr3';
    gap: clamp(2rem, 2rem + 5vw, 7rem);
    width: min(90%, 80rem);
    margin-inline: auto;
    margin-top: 15rem;
    margin-bottom: 3rem;
    padding-block: 3rem;
  }

  @media (max-width: 992px) {
    .board {
      grid-template-columns: 1fr;
      grid-template-areas:
        'title'
        'cl1'
        'cl2'
        'cl3'
        'cr1'
        'cr2'
        'cr3';
    }
  }
</style>
