---
interface Props {
  brand: string
  href: string
}

const { brand, href } = Astro.props
---

<a href={href} aria-label={`Social media link to ${brand}`}>
  <i class:list={['fa-brands', 'fa-fw', `fa-${brand}`]}></i>
</a>

<style>
  a {
    display: grid;
    place-items: center;
    padding: 0.125rem 0.25rem;
    border-radius: 0.5rem;
    color: inherit;
    transition:
      color 150ms ease-in,
      box-shadow 150ms ease-in;
  }

  a:hover {
    color: var(--clr-accent-r);
    transition: color 150ms ease-in;
  }

  a:focus-visible {
    color: var(--clr-accent-r);
    outline: none;
    box-shadow: 0 0 0 3px var(--clr-accent-r);
    transition: box-shadow 150ms ease-in;
  }
</style>
