---
import { getCollection, render } from 'astro:content'
import Card from './Card.astro'

const cards = await getCollection('work')
---

<div class="board">
  {
    cards.map(async (c) => {
      const { Content } = await render(c)
      return (
      <Card
        color="red"
        icon={c.data.icon}
        orientation={c.data.orientation}
        position={c.data.position}
      >
        <Content />
      </Card>
    )})
  }
</div>

<style>
  .board {
    position: relative;
    top: -12rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
      '... title title title ...'
      'cl1  cl1   cl1   cr1  cr1'
      'cl1  cl1   cl1   cr1  cr1'
      'cl2  cl2   cl2   cr1  cr1'
      'cl2  cl2   cl2   cr2  cr2'
      'cl3  cl3   cl3   cr2  cr2'
      'cl3  cl3   cl3   cr2  cr2';
    gap: clamp(2rem, 2rem + 5vw, 7rem);
    width: min(90%, 80rem);
    margin-inline: auto;
    margin-top: 15rem;
    margin-bottom: 3rem;
    padding-block: 3rem;
  }

  @media (max-width: 992px) {
    .board {
      grid-template-columns: 1fr;
      grid-template-areas:
        'title'
        'cl1'
        'cl2'
        'cl3'
        'cr1'
        'cr2';
    }
  }
</style>
