#about {
  padding-top: 10%;
  padding-bottom: 10%;

  background: $primary;
  color: $light;

  hr {
    border-color: darken($light, 30%);
  }

  a, a:visited {
      color: $light;
  }

  .a-social {
    text-decoration: none;
    transition: opacity 100ms ease-in-out;
    padding: .5rem 1rem;

    &, &:visited {
      opacity: .7;
    }

    &:active,
    &:hover {
      opacity: 1;
    }
  }

  p {
    padding-left: 4px;

    a::after {
      display: inline-block;
      padding-left: 2px;

      content: "\f08e";
      font-family: 'FontAwesome';
      font-size: 60%;
      vertical-align: text-top;

      &:active, &:hover {
        text-decoration: none;
      }
    }
  }
}