.row-affix {
  margin-bottom: 20px;

  background-color: #fff;
  box-shadow: 0 30px 20px -10px #fff;

  hr { margin: 0 auto; }
}

.row-affix.affix {
  top: 0px;
  width: 970px;
  @include size-min(lg) { width: 1170px; }
}

.nav-affix.affix {
  top: 114px;
  width: 213px;
  @include size-min(lg) { width: 263px; }
}

.col-content.affix-sibling {
  margin-top: 104px;
}