$affixed-header-height: 125px;

/*
 * Core Header Styles
 * --------------------------------------
 */
.row-header {
    height: $affixed-header-height;

    .social {
      height: $affixed-header-height * .7;
      line-height: $affixed-header-height * .9;
      vertical-align: bottom;

      a {
        margin-right: 20px;
        padding: 3px 5px;

        &:hover, &:active {
          border-bottom: 2px solid $brand-orange;
        }
      }
    }
}

/*
 * Core Nav Styles
 * --------------------------------------
 */
.nav li.active a {
  margin-left: -5px;
  border-left: 5px solid $brand-orange;
}

.nav li:not(.active) a:hover {
  margin-left: -5px;
  border-left: 5px solid lighten($brand-orange, 15%);
}

/*
 * Affix Styles
 * --------------------------------------
 */
#affix-target-header {
  position: relative;
  margin-bottom: 20px;

  z-index: 1;

  background-color: #fff;
  box-shadow: 0 30px 20px -10px #fff;

  hr { margin: 0 auto; }
}

#affix-target-nav {
  position: relative;

  z-index: 2;
}

#affix-target-header.affix {
  position: fixed;
  top: 0px;
  width: 970px;
  @include size-min(lg) { width: 1170px; }
}

#affix-target-nav.affix {
  position: fixed;
  top: $affixed-header-height;
  width: 213px;
  @include size-min(lg) { width: 263px; }
}