.cover {
  position: relative;
  height: 100%;
  text-align: center;

  .cover-image-outer {
    height: 90%;
    background: $brand-primary;
    box-shadow: 0 0 10px 0 $brand-primary;

    .cover-image-inner {
      height: 100%;

      background: url(../img/cover/cover_768x960.jpg) no-repeat center center;
      @include size-min(md) { background: url(../img/cover/cover_1400x1050.jpg) no-repeat center center; }
      @include size-min(xl) { background: url(../img/cover/cover_1920x1080.jpg) no-repeat center center; }

      background-size: cover;
      opacity: 0.3;
    }

    &:after {
      content: 'BRIAN KINTZ';
      position: absolute;
      top: 10%;
      left: 5%;
      right: 0;

      font-family: "cover_min";
      color: #fff;

      font-size: 24px; letter-spacing: 15px;
      @include size-min(sm) { font-size: 32px; letter-spacing: 20px; top: 7%; }
      @include size-min(md) { font-size: 32px; letter-spacing: 25px; top: 35%; left: 50%; }
      @include size-min(lg) { font-size: 38px; }
      @include size-min(xl) { font-size: 52px; }
    }
  }

  .cover-scroll-hint {
    position: absolute;
    bottom: 2%;
    left: 50%;
    width: 22px;
    margin-left: -11px;
    color: lighten($brand-primary, 20%);

    &, & > .animated {
      animation-delay: 2s;
      animation-duration: 2s;
    }
  }
}