/*
 * Cover Styles
 * --------------------------------------
 */
.screen-cover {
  height: 100%;
  position: relative;

  &::before, &::after {
    opacity: 0;
    transition: opacity 500ms;
  }

  &.in::before { opacity: 0.4 }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background: url(../img/cover/cover_8x10.jpg) no-repeat center center;
    @include size-min(md) { background: url(../img/cover/cover_4x3.jpg) no-repeat center center; }
    @include size-min(xl) { background: url(../img/cover/cover_16x10_sm.jpg) no-repeat center center; }
    @include size-min(xxl) { background: url(../img/cover/cover_16x10_lg.jpg) no-repeat center center; }

    background-size: cover !important;
  }

  &.in::after { opacity: 1 }
  &::after {
    content: 'BRIAN KINTZ';
    position: absolute;
    top: 10%;
    left: 5%;
    right: 0;
    z-index: 1;

    font-family: "anuratiblankak";
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 5px rgba($brand-dark,.6);

    font-size: 24px; letter-spacing: 15px;
    @include size-min(sm) { font-size: 32px; letter-spacing: 20px; top: 7%; }
    @include size-min(md) { font-size: 32px; letter-spacing: 25px; top: 40%; left: 50%; }
    @include size-min(lg) { font-size: 38px; }
    @include size-min(xl) { font-size: 52px; }
  }

  span {
    position: absolute;
    bottom: 2%;
    left: 50%;
    width: 22px;
    margin-left: -11px;

    font-size: 1.5em;
    color: #ddd;

    animation-duration: 2s;

    & > span {
      animation-iteration-count: infinite;
    }
  }
}

.blur {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;

  background: url(../img/cover/cover_8x10_preload.jpg) no-repeat center center;
  @include size-min(md) { background: url(../img/cover/cover_4x3_preload.jpg) no-repeat center center; }
  @include size-min(xl) { background: url(../img/cover/cover_16x10_preload.jpg) no-repeat center center; }

  background-size: cover !important;

  filter: blur(8px);
  transform: translateZ(0);

  opacity: 0.4;

  transition: opacity 500ms;

  &.out {
    opacity: 0;
  }
}