/*
 *
 * @media mixin
 * -------------------------------------
 */
$breakpoints: (
  xs: $screen-xs-min,
  sm: $screen-sm-min,
  md: $screen-md-min,
  lg: $screen-lg-min,
  xl: $screen-xl-min
);

@mixin size-min($breakpoint) {
  @media (min-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

/*
 *
 * Animation Helpers
 * -------------------------------------
 */
@for $i from 1 through 10 {
  .animation-delay-#{$i}s {
    animation-delay: #{$i}s;
  }
}