/*
 * Work Styles
 * --------------------------------------
 */
.screen-work {
  background: #fff;

  padding-top: 7.5%;
  padding-bottom: 10%;

  .row + .row {
    padding-top: 10%;
  }

  h2 {
    font-size: 0.75 * $font-size-h2;
    @include size-min(md) { font-size: $font-size-h2; }

    small, .small {
      display: block;
      @include size-min(sm) { display: inline; }
    }
  }

  a, a:visited { color: $text-color; }
  a:hover, a:active { color: $brand-primary; }

  img { margin-top: $line-height-computed; }

  ul {
    list-style-type: none;
    padding: 0;
  }
  li { margin-left: 16px; }
  li + li { padding-top: 8px; }
  li:before {
    content: '-';
    margin-left: -12px;
    margin-right: 8px;
    color: #aaa;
  }

  hr + p { padding-left: 4px; }
}