#work {
  background: #fff;

  padding-top: 5rem;

  .row {
    padding-bottom: 5rem;

    opacity: 0;
    transform: translateY(200px);
    transition: all 600ms ease-out;

    img {
      opacity: 0;
      transform: translateX(200px);
      transition: all 400ms ease-out 500ms;
    }

    &.in {
      opacity: 1;
      transform: translateY(0);

      img {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }

  h2 {
    font-size: $h3-font-size;
    @include media-breakpoint-up(md) { font-size: $h2-font-size; }
  }

  a, a:visited { color: $body-color; }
  a:hover, a:active { color: $primary; }

  ul {
    list-style-type: none;
    padding: 0;

    li {
      position: relative;
      padding-left: 1rem;

      &:before {
        content: '-';
        position: absolute;
        left: .1rem;
        color: #aaa;
      }
    }

    li + li {
      margin-top: .5rem;
    }
  }
}