$brand-primary: #212F3D;
$brand-orange: #FF6D00;

$font-size-base: 16.7px;
$line-height-base: 1.377245509; // 23/16.7

$font-family-sans-serif: "PT Sans", Helvetica, Arial, sans-serif;
$font-family-monospace: "PT Mono", Menlo, Monaco, Consolas, "Courier New", monospace;

$screen-xl-min: 1400px;

$affixed-header-height: 125px;
$footer-height: 125px;

@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "util";
@import "cover";
@import "affix";
@import "content";

html, body { height: 100%; }
body { position: relative; }

/*
 * Typography
 * --------------------------------------
 */
.logo, h1, h2, h3, h4, h5, h6, strong, b { color: $brand-primary; }

.strong-title {
  display: block;
  @include size-min(lg) { display: inline-block; }

  padding-right: 10px;
}

.logo {
  padding: 15px 0;
  font-family: "Rock Salt", $font-family-sans-serif;
}

h2.logo {
  font-size: 1.6em;
  @include size-min(lg) { font-size: 2em; }
}

hr {
  width: 98%;
  border-top-color: $brand-primary;
}

/*
 * Footer Styles
 * --------------------------------------
 */
.row-footer {
  height: $footer-height;
  font-size: .8em;

  hr { margin: 35px auto; }

  .fa { color: $brand-orange; }
}